.create {
  position: relative;
  height: 100vh;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.creation-form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3%;
  width: 60%;
  min-height: 40%;
  border: 2px solid rgb(11, 255, 255);
  padding: 10px;
  border-radius: 9px;
}

.creation-form input,
.creation-form textarea {
  width: 100%;
  background-color: #1e1e1e;
  border-radius: 7px;
  color: #e0e0e0;
  padding: 1.7%;
}

.creation-form * {
  border: 2px solid rgb(11, 255, 255);
}

.creation-form *:focus {
  outline: 2px solid rgb(11, 255, 255);
}

.creation-form textarea {
  height: 73%;
}

.creation-form input {
  min-height: 36px;
}

.creation-form button {
  height: 10%;
  min-height: 30px;
  background-color: rgb(11, 255, 255);
  transition: transform 0.2s ease;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creation-form button:hover {
  transform: scale(1.1);
}
