.entries {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
  margin: 20px;
}

.entries-page {
  text-align: center;
  margin-top: 90px;
}

hr {
  border-color: rgb(11, 255, 255);
  width: 80%;
  height: 1px;
  margin-bottom: 30px;
}

.no-entries {
  display: flex;
  align-items: center;
}
