.entry {
  position: relative;
  transition: 1s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  border: 1px solid rgb(11, 255, 255);
  padding: 20px;
  border-radius: 10px;
}

.modifiers {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.controls:hover{
  transform: scale(1.2);
}

.controls {
  transition: 0.2s;
  cursor: pointer;
}
