@import url("https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap");

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  background-color: #1e1e1e;
  color: #e0e0e0;
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}